hr{
    margin: 0;
}

.rodape{
    background: #F9F9F9;
    padding: 1em;
}

.rodape__titulo{
    color: var(--preto);
    font-weight: 400;
}

.lista-rodape{
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape{
        display: flex;
        justify-content: space-around;
        padding:4em 0 ;
    }

    .lista-rodape__item{
        display: flex;
        align-items: center;
        margin-bottom: 1em;
    }

    .lista-rodape__link{
        color: var(--cinza);
        text-decoration: none;
        margin-left: 0,75em;
    }

    .lista-rodape__titulo{
        font-size: 14px;
        color: var(--cinza-claro);
        margin-bottom: 1.75em;
    }

    .rodape__titulo{
        font-size: 24px;
    }

    .lista-rodape{
        display: block;
    }
}

@media screen and (min-width: 1728px){
    .lista-rodape{
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }

    .rodape{
        padding: 3em 0;
    }
}